<%= form_with(model: @blog, local: true, url: choose_new_or_edit) do | f | %>
  <div id="errors explanation" >
    <% if @blog.errors.any? %>
      <P><%= @blog.errors.count %>件のエラーメッセージがあります。</P>
      <ul>
        <% @blog.errors.full_messages.each do | msg | %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="input-wrap">
    <div class="blog-title" >
      <%= f.label :"タイトル :" %>
      <%= f.text_field :title, class: "title-input" %>
    </div>
    <div class="blog-content">
      <%= f.label :"内容 :" %>
      <%= f.text_area :content, class: "blog-input"%>
    </div>
    <div class="file-field">
      <div>
        <%= f.label :"画像を投稿する:" %>
      </div>
      <div>
        <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
      </div>
      <div>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>
  </div>
  <div class="submit">
    <%= f.submit "ブログを投稿する"%>
  </div>
  <div>
    <%= image_tag "border_design.png", class: "bottom_pic" %>
    <%= link_to "ブログ一覧へ", blogs_path, class:"link-around" %>
  </div>
<% end %>
