<h1 class="head-letter">投稿ブログ</h1>
<%= image_tag "border_design.png", class: "main_pic" %>
<%= form_with(model: @blog, local: true) do | f | %>
  <%= notice %>
  <table>
    <% @blogs.each do | blog | %>
      <tr>
        <td class="title"colspan="3"><%= blog.title %></td>
      </tr>
      <tr>
        <td class="name"colspan="3">投稿者:  <%= blog.user.name %></td>
      </tr>
      <tr>
        <td colspan="3"><%= image_tag blog.image.url %></td>
      </tr>
      <tr>
        <td class ="content" colspan="3"><%= blog.content %></td>
      </tr>
      <tr>
        <td>
          <ul class="action-select">
            <li><%= link_to "詳細", blog_path(blog.id), class: "action-li" %></li>
            <% if logged_in? && current_user.id == blog.user.id %>
            <li><%= link_to "削除", blog_path(blog.id), method: :delete, data: {confirm: "削除してもいいですか？"}, class: "action-li"  %></li>
            <li><%= link_to "編集", edit_blog_path(blog.id), data: {confirm: "編集してもいいですか？"}, class: "action-li"  %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="3"><%= image_tag "border_design.png", class: "border_pic" %></td>
      </tr>
    <% end %>
  </table>
  <div class>
    <% if logged_in? %>
      <%= link_to "ブログ新規作成へ", new_blog_path, class:"link-around" %>
    <% end %>
  </div>
<% end %>
