<h1>ブログ一覧</h1>
<%= form_with(model: @blog, local: true) do | f | %>
<%= notice %>
  <table>
    <tr>
      <th>タイトル: </th>
      <th>内容: </th>
      <th>投稿写真: </th>
      <th>投稿者: </th>
    </tr>
    <% @blogs.each do | blog | %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= image_tag blog.image.url %></td>
        <td><%= blog.user.name %></td>

        <td><%= link_to "詳細", blog_path(blog.id) %></td>
        <td><%= link_to "削除", blog_path(blog.id), method: :delete, data: {confirm: "削除してもいいですか？"} %></td>
        <td><%= link_to "編集", edit_blog_path(blog.id), data: {confirm: "編集してもいいですか？"} %></td>
      
      </tr>
    <% end %>
  </table>
  <div>
    <%= link_to "ブログ新規作成へ", new_blog_path %>
  </div>
<% end %>
