<h1 class="head-letter">ブログ詳細画面</h1>
<%= image_tag "border_design.png", class: "main_pic" %>
<%= form_with(model: @blog, local: true) do | f | %>
  <div class="input-wrap">
    <p class="blog-title" >タイトル: <span><%= @blog.title %></span></p>
    <P class="blog-content" >内容: <%= @blog.content %></P>
    <P class="">現在投稿している画像</P>
    <div>
      <%= image_tag @blog.image.url %>
    </div>
  </div>
  <%= image_tag "border_design.png", class: "bottom_pic" %>
  <div>
    <%= link_to "ブログ一覧に戻る", blogs_path, class:"link-around"  %>
  </div>
<% end %>
